/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
// レイアウト幅
$layout-screen-inner: 1920px;
$layout-width-inner: 1400px;
// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	//タブレットサイズからスマホまで
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	//タブレットサイズより小さいものすべて
	"pc": "(min-width: #{$layout-width-inner}) and (max-width: #{$layout-screen-inner })",
	//カンプの指定サイズからタブレットサイズまで
	"pc-up": "(min-width:  #{$layout-width-inner + 1px})",
	//インナーの指定サイズより大きい
	"sr-up": "(min-width:  #{$layout-screen-inner + 1px})",
	//スクリーンの指定サイズより大きい
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@mixin wp-block-common {

	/*=============== 全ブロック共通 =================*/

	position: fixed !important;
	top: 0;
	left: 0;
	background: transparent;
	color: #ffffff;
	width: 100vw;
	height: 100vh;
	z-index: 100;

	/* Loading背景画面　*/
	#splash {
		/*fixedで全面に固定*/
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		text-align: center;
		display: none;
		//transition: opacity 1s ease 0.8s;

		&.disappear {
			opacity: 0;
		}
	}

	/* Loading画像中央配置　*/
	#splash_logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 1s ease 0.8s;

		&.disappear {
			opacity: 0;
		}
	}

	/*画面遷移アニメーション*/
	.fixbg {
		display: block;
		position: fixed;
		z-index: 990;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #fff;
		transition: opacity 1s ease 0.6s;
		opacity: 1;

		/*フェードアウト*/
		&.disappear {
			opacity: 0;
		}

		/*非表示*/
		&.hide {
			display: none;
		}
	}

	.splashbg,
	.splashbg2 {
		display: none;

		&.appear {
			display: block;
			position: fixed;
			z-index: 999;
			width: 100%;
			height: 100vh;
			/*伸びる背景色の設定*/
			animation-duration: 1.2s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;

			&.virtical_slide {
				top: 0;
				left: 0;
				transform: scaleY(0);
				animation-name: virtical_open;
			}

			&.horizen_slide {
				top: 0;
				left: 0;
				transform: scaleX(0);
				animation-name: horizen_open;
			}

			&.virtical_open {
				animation-name: top_open;
				animation-duration: 1.4s;
				left: 0;
				bottom: 50%;
				transform: scaleY(1);
			}

			&.horizen_open {
				animation-name: left_open;
				animation-duration: 1.8s;
				top: 0;
				right: 50%;
				transform: scaleX(1);
			}
		}
	}

	.splashbg2 {
		&.appear {
			&.virtical_open {
				animation-name: bottom_open;
				animation-duration: 1.4s;
				left: 0;
				top: 50%;
				transform: scaleY(1);
			}

			&.horizen_open {
				animation-name: right_open;
				animation-duration: 1.4s;
				top: 0;
				left: 50%;
				transform: scaleX(1);
			}
		}
	}

	.splashCirclebg {
		display: none;
		position: fixed;
		transform: scale(100);
		/*伸びる背景色の設定*/
		z-index: 999;
		/*丸のスタートの形状*/
		top: calc(50% - 1rem);
		/*50%から円の半径を引いた値*/
		left: calc(50% - 1rem);
		/*50%から円の半径を引いた値*/
		width: 2rem;
		height: 2rem;

		&.appear {
			display: block;
			border-radius: 50%;
			animation-name: scale_down;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
	}

	@keyframes scale_down {
		0% {
			/*丸のスタート位置と形状*/
			transform: scale(100);

		}

		100% {
			/*丸の終了位置と形状*/
			transform: scale(0);
			display: none;
			/*終了時は消える*/
		}
	}


	@keyframes virtical_open {
		0% {
			transform-origin: top;
			transform: scaleY(0);
		}

		50% {
			transform-origin: top;
			transform: scaleY(1);
		}

		50.001% {
			transform-origin: bottom;
		}

		100% {
			transform-origin: bottom;
			transform: scaleY(0);
		}
	}

	@keyframes horizen_open {
		0% {
			transform-origin: right;
			transform: scaleX(0);
		}

		50% {
			transform-origin: right;
			transform: scaleX(1);
		}

		50.001% {
			transform-origin: left;
		}

		100% {
			transform-origin: left;
			transform: scaleX(0);
		}
	}

	@keyframes top_open {
		0% {
			transform-origin: top;
			transform: scaleY(1);
		}

		100% {
			transform-origin: top;
			transform: scaleY(0);
		}
	}

	@keyframes bottom_open {
		0% {
			transform-origin: bottom;
			transform: scaleY(1);
		}

		100% {
			transform-origin: bottom;
			transform: scaleY(0);
		}
	}

	@keyframes left_open {
		0% {
			transform-origin: left;
			transform: scaleX(1);
		}

		100% {
			transform-origin: left;
			transform: scaleX(0);
		}
	}

	@keyframes right_open {
		0% {
			transform-origin: right;
			transform: scaleX(1);
		}

		100% {
			transform-origin: right;
			transform: scaleX(0);
		}
	}

}

.opening_check {
	position: fixed;
	z-index: 200;
	bottom: 3em;
	right: 3em;
	opacity: 1;
	transition: opacity 0.3s ease 0s;
	display: none;

	@include mq(sp) {
		bottom: 1em;
		right: 0.5em;
	}

	.waiting {
		color: var(--wp--preset--color--accent-2);
	}

	&.closing {
		opacity: 0;

		div {
			color: var(--wp--preset--color--content);
		}

		span {
			border: 0.2em solid var(--wp--preset--color--accent-2);
		}

	}

	&:hover {
		opacity: 1;
	}
}